{% extends 'base.html' %}

{% block title %}Add new sleep entry{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Add a new note</h1>
</div>
<div class="content-container">
    <div class="content">
        <div class="add-entry">
            <form action="#", method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</div>

<!--
                    <label for="note">Add an entry:</label>
                <hr>
                <br>
                <input type="text" name="note">
                <br>
                <input type="checkbox" name="type_of_note" id="">
-->

{% endblock %}