{% extends 'base.html' %}

{% block title %}Dream notes{% endblock %}

{% block content %}
<div class="content-container">
    <h1>Dream notes</h1>
</div>
<br>
<div class="content-container">
    <div class="content">
        {% for record in records %}
        <div class="record">
            <h3>Record {{record.id}}</h3>
            <hr>
            <h3>Awake date:</h3>
            <p id="before-break">{{record.date}}</p>
            <h3>Note:</h3>
            <p>{{record.note}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}